/*Zerando o layout*/
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: #FF914D;
    padding: 1rem;
}
.header img{
    border-radius: 50%;
    padding-left: 9px;
}
.nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul{
    list-style: none;
}
.nav-item{
    font-size: 20px;
    color: white;
}
/*-----BANER*/
.banner{
    width: 100%;
    height: 316px;
    margin-top: 20px;
    background-image: url("../imagens/banner.png");
}
.banner h1{
    width: 100%;
    text-align: center;
    color: #f0ffff;
    padding-top: 8% ;
}
.tarefas{
    width: 100%;
    height: 400px;
    text-align: center;    

}
.tarefas h1{
    margin-top: 2%;
    font-size: 30px;
}
.modificador{
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.bannertarefa{
    height: 300px;
    width: 30%;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.boletim{
    margin-top: 15%;
    margin-left: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color: gray;
    width: 80%;
    height: 10%;
}
.boletim h1{
    margin-top: 2%;
    margin-bottom: 2%;
}
.boletim li{
    margin-bottom: 2%;
}
.padraoBoletim{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.padraoBoletim li{
    margin-right: 15px;
    font-size: 20px;
    list-style-type: none;
}
#materiaPadrao{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}
#materiaPadrao li{
    margin-right: 35px;
    font-size: 20px;
    margin-bottom: 10px;
    list-style-type: none;
}
#materia{
    width: 14%;
}
#cargaH{
    width: 10%;
}
#TotalAulas{
    width: 10%;
}
#TotalFaltas{
    width: 10%;
}
#freq{
    width: 10%;
}
#nota1{
    width: 10%;
}
#nota2{
    width: 10%;
}
#nota2{
    width: 10%;
}
#media{
    width: 10%;
}
footer{
    background-color: #ffffff;
    width: 100%;
    min-height: 184px;
    color: #000000;
}
.footer1{
    background-color: #ff924e;
    display: flex;
    justify-content: center;
}
.footer2{
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco1{
    min-height: 25rem;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco1 h3{
    margin: 0.8rem 0;
}
.bloco2{
    min-height: 25rem;
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.baixar{
    width: 15rem;
    height: 8rem;
    margin-top: 1.5rem;
}
.baixar img{
    width: 100%;
    height: 100%;
}
.bloco3{
    min-height: 25rem;
    width: 33%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.social{
    margin: 1rem;
    width: 50px;
    height: 50px;
}
.social img{
    width: 100%;
    height: 100%;
}   