/*Zerando o layout*/
* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: #FF914D;
    padding: 1rem;
}
.header img{
    border-radius: 50%;
    padding-left: 9px;
}
.nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul{
    list-style: none;
}
.nav-item{
    font-size: 20px;
    color: white;
}
/*-----BANER*/
.banner{
    width: 100%;
    height: 316px;
    margin-top: 20px;
    background-image: url("../imagens/banner.png");
}
.banner h1{
    width: 100%;
    text-align: center;
    color: #f0ffff;
    padding-top: 8% ;
}
.tarefas{
    width: 100%;
    height: 400px;
    text-align: center;    

}
.tarefas h1{
    margin-top: 2%;
    font-size: 30px;
}
.modificador{
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.bannertarefa{
    height: 300px;
    width: 30%;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.boletim{
    margin-top: 15%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color: gray;
    width: 80%;
    height: 10%;
}
.boletim h1{
    margin-top: 2%;
    margin-bottom: 2%;
}
.padraoBoletim{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.padraoBoletim li{
    margin-right: 15px;
}
.materia{
    display: flex;
    flex-direction: row;
    
}
.materia li{
    margin-right: 50px;
}