* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: #FF914D;
    padding: 1rem;
}
.header img{
    border-radius: 50%;
    padding-left: 9px;
}
.nav-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul{
    list-style: none;
}
.nav-item{
    font-size: 20px;
    color: white;
}
.nav-item a{
    text-decoration: none;
    color: #f0ffff;
}
/*-----BANER*/
.banner{
    width: 100%;
    height: 316px;
    margin-top: 20px;
    background-image: url("../imagens/banner.png");
}
.banner h1{
    width: 100%;
    text-align: center;
    color: #f0ffff;
    padding-top: 8% ;
}
.quemsomos{
    width: 90%;
    margin: 2%;
    line-height: normal;
    font-size: 20px;    
}
.infos{
    margin-left: 3%;
}
.quemsomos h3{
    font-weight: 700;
}
.quemsomos p{
    padding: 1%;
}
.equipe{
    width: 90%;
    margin: 2%;
    line-height: normal;
    font-size: 20px;    
}
.equipe h3{
    font-weight: 700;
}
.equipe p{
    padding: 1%;
}
.section{
    width: 100%;
    height: 822px;
}
.modificador{
    width: 100%;
    height: 100%;
    display: flex;
}
.modificador h5{
    text-align: center;
    padding: 4px;
}
.modificador p {
    text-align: center;
    line-height: normal;
}
.modificador2{
    width: 100%;
    height: 100%;
    display: flex;
}
.modificador2 h5{
    text-align: center;
    padding: 4px;
}
.modificador2 p {
    text-align: center;
    line-height: normal;
}
.colaborador{
    width: 170px;
    height: 194px;
    background-color: black;
    margin: 5%;
}
.colaborador2{
    width: 170px;
    height: 194px;
    background-color: black;
    margin: 7%;
    margin-left: 10%;
}
footer{
    background-color: #ffffff;
    width: 100%;
    min-height: 184px;
    color: #000000;
}
.footer1{
    background-color: #ff924e;
    display: flex;
    justify-content: center;
}
.footer2{
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco1{
    min-height: 25rem;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco1 h3{
    margin: 0.8rem 0;
}
.bloco2{
    min-height: 25rem;
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.baixar{
    width: 15rem;
    height: 8rem;
    margin-top: 1.5rem;
}
.baixar img{
    width: 100%;
    height: 100%;
}
.bloco3{
    min-height: 25rem;
    width: 33%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.social{
    margin: 1rem;
    width: 50px;
    height: 50px;
}
.social img{
    width: 100%;
    height: 100%;
}
section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 7%;
}