
body{
	background-color:rgb(243, 240, 240);
}

main{
    height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginTotal{   
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#logo{
    width: 35%;
    border-radius: 80px;
}

#formLogin{
    width: 25rem;
    height: 15rem;
}

#formLogin form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.campoDados{
    width: 100%;
    
}

.dados{
    font-size:3vh;
    background-color: rgb(218, 217, 217);
    height: 6vh;
    width: 100%;
    padding-left: 10%;
    border-radius:30px;

}

.botaoAcesso{
    background-color: rgb(255, 155, 61);
    color: rgb(255, 255, 255);
    font-size: 4vh;
    height: 6vh;
    width: 100%;
    height: 6vh;
    border-radius: 30px;
}


#botaoCrieConta{
    font-family: Verdana;
    color: rgb(148, 146, 146);
    text-decoration: none;
}
.opcaoDev{
    background-color: grey;
    padding: 3%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.opcaoDev h2{
    margin-bottom: 3%;
}
.opcaoDev a{
    color: black;
    text-decoration: none;
}