#MainRegistrarEscola{
    width: 599px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#Titulo{
    text-align: center;

}
main{
    background-color: black;
}