#MainRegistrarEscola{
    width: 599px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#TituloDirecaoMain{
    text-align: center;

}
#MainAlunosMateriais{
    width: 100%;
    align-items: center;
    justify-content: center;
}
#ImgPerfilAlunosMateriais{
    height: 50vh;
    width: 100%;
    padding-top: 3vh;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
    /*----------------------Aba de AdicionarAluno------------------------------------------------------*/
#FormAdicionarAluno{
    width: 150vh;
    height: 90vh;
    margin: 20vh auto;
    padding: 20px;
    background-color: #FF5C00;
    border: 1px solid black;
    border-radius: 29px;
    color:white;
    position: relative;
    font-family: 'Secular One',sans-serif;
}
#FormAdicionarAluno h1{
    text-align: center;
    color: white;
    font-size: 60px;
}
#FormAdicionarAluno label {
    display: block;
    margin-bottom: 8px;
    font-size: 40px;
}

#FormAdicionarAluno input {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 70px;
    font-size: 30px;
}

#FormAdicionarAluno button {
    background-color: #ffffff;
    color: black;
    padding: 10px 15px;
    margin-top: 80px;
    margin-left: 20px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    right: 10px;
    font-size: 60px;
}

