

 /*Aluno pagina Inicial*/
#MainAlunoPerfil{
    height: 150vh;
    width: 100%;
}


#divAreaA   {
    background-image: url(../imagens/bannerAluno.png);
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#areaAluno{
    color: white;
    font-size: 12vh;
    font-family: 'Paytone One', sans-serif;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */

}

#imgPerfilA{
    height: 30vh;
    width: 100%;
    padding-top: 3vh;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgPerfilA img{
    height: 30vh;
    margin-left: 5%;
    margin-right: 15%;
}

#imgPerfilA h2{
    font-size: 4vh;
    font-family: 'Open Sans';
    color: #FF5C00;
}

#infAluno{
    height: 70vh;
    display: flex;
    margin-top: 3vh;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
}

.dadAluno{
    background-color: #FF5C00;
    width: 40%;
    height: 10vh;
    border-radius: 30rem;
    border: 2px solid rgb(255, 70, 0);
    font-size: 2.5vh;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Aluno pagina Boletim*/

#MainAlunoBoletim{
    height: min-content;
    width: 100%;
    margin-bottom: 10vh;
}

#imgPerfilBoletim{
    height: 50vh;
    width: 100%;
    padding-top: 3vh;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

#imgPerfilBoletim h1{
        font-size: 12vh;
        font-family: 'Open Sans';
}



.boletim{
    background-color: #D9D9D9;
    width: 90%;
    height: 12vh;
    margin-top: 5vh;
    margin-left: 5%;
    margin-left: 5%;
    border-radius: 5rem;
    font-family: "Open Sans";
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 15% 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#boletim{
    background-color: #707070;
}


/*Professor Pagina Inicial*/

#MainProfessorPerfil{
    height: 150vh;
    width: 100%;
}

#divAreaP {
    background-image: url(../imagens/bannerProf.png);
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}



#areaProf{
    color: white;
    font-size: 12vh;
    font-family: 'Paytone One', sans-serif;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */

}


#imgPerfilP{
    height: 30vh;
    width: 100%;
    padding-top: 3vh;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#imgPerfilP img{
    margin-top: 5vh;
    height: 35vh;

}









