#MainRegistrarEscola{
    width: 599px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#TituloDirecaoMain{
    text-align: center;

}
#MainAlunosMateriais{
    width: 100%;
    align-items: center;
    justify-content: center;
}
#ImgPerfilAlunosMateriais{
    height: 50vh;
    width: 100%;
    padding-top: 3vh;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
    /*----------------------Aba de AdicionarAluno------------------------------------------------------*/

#AdicionarAlunoForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

#divAlunoForm{
    width: 100%;
}

.FormAdicionar{
    margin: 10vh 15%;
    padding: 20px;
    background-color: #FF5C00;
    border: 1px solid black;
    border-radius: 29px;
    color:white;
    position: relative;
    font-family: 'Secular One',sans-serif;
}
.FormAdicionar h1{
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 5vh;
}
.FormAdicionar label {
    display: block;
    margin-bottom: 8px;
    font-size: 40px;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif;
}

.FormAdicionar input {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid black;
    border-radius: 70px;
    font-size: 30px;
}

.FormAdicionar button {
    background-color: #ffffff;
    color: black;
    padding: 10px 15px;
    margin: 3vh 3vw;
    border-radius: 20px;
    cursor: pointer;
    bottom: 50px;
    font-size: 60px;
}


.flexInput{
    display: flex;
    align-items: center;
    margin: 2% 5%;
}



/*-------------------------- Adicionar Professor-------------------*/


#AdicionarProfForm{
    display: flex;
    justify-content: center;
    align-items: center;
}


#divProfForm{
    width: 100%;
}

.buttonRegistra{
    width: 100%;
    display: flex;
    justify-content: end;
}