<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../estilos/estiloPrincipal.css" rel="stylesheet" />
    <link href="../estilos/estiloPaginaPrincipal.css" rel="stylesheet" />
    <title>IEET- Sistema de Ensino</title>
  </head>
  <body>
    <!-- Menu do Site -->
    <header class="header">
      <img width="100px" src="../imagens/Logo.png" alt="" />
      <ul class="nav-menu">
        <li class="nav-item"><a href="PaginaInicial.html">Sobre Nós</a></li>
        <li class="nav-item"><a href="#colaboradores"> Equipe</a></li>
        <li class="nav-item"><a href="#contatos">Contato</a></li>
        <li class="nav-item"><a href="../index.html">Login</a></li>
      </ul>
    </header>
    <main>
      <div class="banner">
        <h1>IEET</h1>
      </div>
      <div class="infos">
        <div class="quemsomos">
          <h3>Quem Somos?</h3>
          <p>
            Somos um sistema de gerenciamento escolar, interligando as áreas
            administrativas, com os alunos e professores, facilitando e
            agilizando as demandas da sua instituição.
          </p>
        </div>
        <div class="equipe">
          <h3>Nossa Equipe</h3>
          <p>
            Contamos com uma Equipe execpional e com as maiores e melhores
            capacitações do mercado, com profissionais ligados desde o
            desenvolvimeto do sistema, até analistas de dados para informar mais
            precisamente o impacto do nosso produto na sua instituição.
          </p>
        </div>
      </div>
      <section id="#colaboradores">
        <div class="colaborador">
          <img src="../imagens/gleice.png" />
          <h5>Gleicelle Meira</h5>
          <p>Gestora de Projeto</p>
        </div>
        <div class="colaborador">
          <img src="../imagens/luan.png" />
          <h5>Luan Caires</h5>
          <p>Desenvolvedor Front-End</p>
        </div>
        <div class="colaborador">
          <img src="../imagens/vitor.png" />
          <h5>Vitor Gabriel</h5>
          <p>Designer</p>
        </div>
        <div class="colaborador">
          <img src="../imagens/elisa.png" />
          <h5>Elisa Rizerio</h5>
          <p>Gestora de Finanças</p>
        </div>

        <div class="colaborador2">
          <img src="../imagens/levi.png" />
          <h5>Janielcio Levi</h5>
          <p>Analista de Mercado</p>
        </div>
        <div class="colaborador2">
          <img src="../imagens/pauloHenry.png" width="100%" height="103%" />
          <h5>Paulo Henry</h5>
          <p>Analista de Sistemas</p>
        </div>
        <div class="colaborador2">
          <img src="../imagens/gilberto.png" />
          <h5>Gilberto Júnior</h5>
          <p>Desenvolvedor Full-Stack</p>
        </div>
      </section>
    </main>
    <footer id="rodape">
      <!--Rodapé do Site-->
      <div class="footer1">
        <div class="bloco1">
          <div class="submenu">
            <h3>Empresa</h3>
            <p>Sobre nós</p>
            <p>Centra de Ajuda</p>
            <p>Status</p>
            <p>Localidades</p>
          </div>
        </div>
        <div class="bloco2">
          <h4>Baixe o nosso App:</h4>
          <div class="baixar"><img src="../imagens/app.png" /></div>
        </div>
        <div class="bloco3" id="contatos">
          <div class="social">
            <img src="../imagens/face.png" alt="" />
            <h5>@IEET_SYSTEM</h5>
          </div>
          <div class="social">
            <img src="../imagens/insta.png" alt="" />
            <h5>@IEET_SYSTEM</h5>
          </div>
          <div class="social"><img src="../imagens/whats.png" alt="" /></div>
        </div>
      </div>
      <div class="footer2">
        <h4>&copy;Todos os Direitos Reservados IEET LTDA</h4>
      </div>
    </footer>
  </body>
</html>
