<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../estilos/estiloPrincipal.css" rel="stylesheet">
    <!--Isso são links de arquivos diferentes para coisas mais inportantes como o menu e o rodapé onde todos vão herdar essas estilizaçõees-->
    <link href="../estilos/estilo.Professor.css" rel="stylesheet">
    <!-- E o arquivo css da propria pagina para estilizar a mesma-->
    <title>IEET- Sistema de Ensino</title>
</head>

<body>
    <!-- Menu do Site -->
    <header class="header">
        <img width="100px" src="../imagens/Logo.png" alt="" />
        <ul class="nav-menu">
          <li class="nav-item"><a href="PaginaInicial.html">Sobre Nós</a></li>
          <li class="nav-item"><a href="../index.html">Login</a></li>
        </ul>
      </header>
     <!-- Corpo do Site-->
     <main>
        <!-- Área do Banner escrito área do aluno ou área do prof-->
        <div class="banner">
            <h1> Área do Professor</h1>
        </div>
        <section class="tarefas">
            <h1>Tarefas Diárias</h1>
            <div class="modificador">
                <div class="bannertarefa">
                    <h2> Tarefa </h2>
                    <h3> Data: 15/09/2023 <h3>
                    <p>Descrição: Projeto de Maira <p>
                </div>
                <div class="bannertarefa">
                    <h2> Tarefa </h2>
                    <h3> Data: 15/09/2023 <h3>
                    <p>Descrição: Projeto de Thiago <p>
                </div>
                <div class="bannertarefa">
                    <h2> Tarefa </h2>
                    <h3> Data: 15/09/2023 <h3>
                    <p>Descrição: Projeto de Sociologia <p>
                </div>
            </div>
        </section>
        <section class="turmas">
            <h1>Turmas</h1>
            <div class="modificador">
                <div class="bannertarefa">
                    <h2> 1º Ano</h>
                    <h3> Disciplina: Português<h3>
                    <p> Ultima aula: Adverbios <p>
                </div>
                <div class="bannertarefa">
                    <h2> 2º Ano </h2>
                    <h3> Disciplina: Português<h3>
                    <p> Ultima aula:Verbos e conjugação  <p>
                </div>
                <div class="bannertarefa">
                    <h2>  3º Ano</h2>
                    <h3> Disciplina: Religião <h3>
                    <p> Ultima aula: Quem é Deus.... <p>
                </div>
            </div>
        </section>
    </main>
    <footer id="rodape"> <!--Rodapé do Site-->
        <div class="footer1">
            <div class="bloco1">
                <div class="submenu">
                    <h3>Empresa</h3>
                    <p>Sobre nós</p>
                    <p>Centra de Ajuda</p>
                    <p>Status</p>
                    <p>Localidades</p>
                </div>
            </div>
            <div class="bloco2">
                <h4>Baixe o nosso App:  </h4>
                <div class="baixar"><img src="../imagens/app.png"></div>
            </div>
            <div class="bloco3" id="contatos">
                <div class="social"><img src="../imagens/face.png" alt=""><h5>@IEET_SYSTEM</h5></div>
                <div class="social"><img src="../imagens/insta.png" alt=""><h5>@IEET_SYSTEM</h5></div>
                <div class="social"><img src="../imagens/whats.png" alt=""></div>
            </div>
        </div>
        <div class="footer2">
            <h4> &copy;Todos os Direitos Reservados IEET LTDA</h4>
        </div>
    </footer>  
</body>

</html>