/*Zerando o layout*/
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.topo{
    background: #FF914D;
    width: 1450px;
    height: 100px;
    display: flex;
    align-items: center;
}
.logo{
  width: 30rem;
  height: 20rem;
}
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 129px;
}
.menu{
    width: 100%;
    height: 33px;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.submenu ul li{
    font-size: 20px;
    list-style: none;   
}
.banner{
    width: 1450px;
    height: 316px;
    margin-top: 20px;
    background-image:url("Imagens/banner.png");
}
.banner h1{
    margin-left: 500px;
    color: #f0ffff;
}